.country__list {
  max-height: calc(100vh - 160px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.country__list::-webkit-scrollbar {
    width: 12px; 
    height: 8px; 
    background-color: #607d8b;
}


.country__list::-webkit-scrollbar-thumb {
    background-color: #455a64;
    border-radius: 5px;
    
}

.country__list::-webkit-scrollbar-thumb:hover {
    background-color: #37474f;
}

@media screen and (max-width: 600px) {
  .country__list::-webkit-scrollbar {
    width: 0;
}
}