.country__card {
  margin: 8px;
  background-color: #f5f5f5;
  border: 2px solid rgba(120, 144, 156, 0.6);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease !important;
}

.country__card:hover {
  transform: scale(1.01);
}

.country__card__info {
  margin-bottom: 10px;
}

.country__card__info__capital {
  color: midnightblue;
  font-weight: 600;
}

.country__card__languages__box {
  display: flex;
}

.country__card__languages__list {
  display: flex;
  padding-left: 5px;
}

.country__card__phone,
.country__card__currency {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-weight: 700;
}


.country__card__languages__list-item:not(:last-child) {
  margin-right: 5px;
} 